*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
  background-color:rgba(26, 11, 46, 1)
  

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
}

.logo{
  font-size: 3rem;
  font-weight: 1000px;
  color: white;
  

}

.gradiant-color {
    background: linear-gradient(20deg, #F7E93F 20%, #FB09B4 50%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}


nav ul{
  margin: 0 16px;
  list-style: none;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center; 
}

li a{
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px 18px;
  border-radius: 2rem;
}

button{
 width: 135px;
 height: 44px;
 display: flex;
 background:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
 text-decoration: none;
 padding: 12px 16px;
 align-items: center;
 justify-content: center;
 gap: 4;
 border-radius: 10000px;
 color: rgba(255, 255, 255, 1);
 font-style: Semi Bold;
 font-size: 16px;
 font-weight: 600;
 line-height: 19px;
 letter-spacing: 0%;
 text-align: left;
 text-transform: capitalize;
 cursor: pointer;
 border: none;
}

#hero {
 width: 100%;
 height: 500px;
 background: url(./assets/hero-bg.png);
 background-size: cover;
 display: flex;
 align-items: center;
 background-repeat: no-repeat;
 position: absolute;
 top: 130px;
 left: 0;
 z-index: -1;
}

.hero-sec{
  background: url(./assets/hero-circle.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  width: 28%;
  text-align: center;
  margin: 0px auto;
  padding: 200px 0px;
  background-repeat: no-repeat;
  z-index: 5;
    
}

.new{
  position: relative;
  width: 52%;
  margin: 0px auto;

}

.hero-div{
  position: relative;
  top: -150px;
  right: -150px;
  background-color: #00FF88;
  border-radius: 2rem;
  width: 75px;
  z-index: 10;
  padding: 8px 16px;
  box-shadow: 0px 0px 15px 2px rgba(0, 255, 136, 0.5);
  animation: updown 3s infinite ease-in-out;
}
@keyframes updown{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-div h6{
  font-size: 18px;
  color: black;
  font-weight: 900;

}
.mic-box{
  width: 21rem;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.1);
  height: 21rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -200px;
  right: -70px;
  border-radius: 50%;
  margin: 0px auto 40px;
  z-index: 20;
}
.hero-content h1{
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  top: 360px;
  left: 10%;
}
.hero-content p{
  color: gray;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: absolute;
  top: 430px;
  left: -10%;
  max-width:600px;
  margin:auto;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}
.hero-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 460px;
}

.btn-1 {
  padding: 12px 16px;
  color: white;
  overflow: hidden;
  background: linear-gradient(10deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-2 {
  padding: 12px 16px;
  color: #00FF88;
  overflow: hidden;
  background: rgba(26, 11, 46, 1);
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid #00FF88;
  border-color: #00FF88;
}
.about{
  max-width: 1200px;
  margin: 0px auto;
  width: 75%;
  color: white;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 800px;
  left: 150px;
}
.about-container {
  margin: 0px auto;
  text-align: center;
  width: 100%
}    

.about-container h1 {
  font-size: 3rem;
  margin-bottom: 6px;
}

.about-container p {
  line-height: 26px;
  font-size: 16px;
}
.stats{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  padding:60px 80px;
  text-align:center;
  gap:24px;
}
.stats h2{
  color:#39ffb6;
  font-size:32px
}
.stats p{
  font-size:14px;
  opacity:.6
}
.trd-section {
  background-color: #230E3D;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top: 1200px;
}
.trd-container {
  margin: 0px auto;
  width: 75%;
  max-width: 1600px;
  padding-top: 120px;
  color: white;
}
.title{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}
.grid-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px 250px;
  grid-template-areas:
      "box-1 box-2 box-2"
      "box-1 box-3 box-3"
      "box-4 box-4 box-5";
  padding-bottom: 120px;
}
.grid-card {
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.3s;
}
.grid-card h3 {
  font-size: 1.5rem;
  margin: 1.2rem 0px;
}
.grid-card p {
    font-size: 18px;
    line-height: 1.8rem;
}